* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: "Roboto Mono", monospace;
}

.container {
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

h2 {
  font-size: 20px;
}